.container {
    margin: auto;
    width: 80%;
    padding: 10px;
    border: 3px solid green;
}

.short-field {
    width: 100px;
}

.medium-field {
    width: 130px;
}

// input[type="text"] {
//     text-transform: capitalize;
// }