<form [formGroup]="addressForm">
    <div fxLayout="column" fxLayout.md="row" fxLayout.lg="row" fxLayoutGap="10px">
        <div fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field>
                <mat-label>House No./Room No./Bldg No.</mat-label>
                <input matInput placeholder="House No./Room No./Bldg No." formControlName="unitNumber" required>
                <mat-error *ngIf="addressForm.controls.unitNumber.invalid">{{ getErrorMessage(addressForm.controls.unitNumber) }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Street/Subdivision</mat-label>
                <input matInput placeholder="Street/Subdivision" formControlName="location" required>
                <mat-error *ngIf="addressForm.controls.location.invalid">{{ getErrorMessage(addressForm.controls.location) }}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field> 
                <mat-label>Barangay/City</mat-label>
                <input matInput placeholder="Barangay/City" formControlName="city" required>
                <mat-error *ngIf="addressForm.controls.city.invalid">{{ getErrorMessage(addressForm.controls.city) }}</mat-error>
            </mat-form-field>
            <mat-form-field> 
                <mat-label>Region</mat-label>
                <input matInput placeholder="Region" formControlName="region" required>
                <mat-error *ngIf="addressForm.controls.city.invalid">{{ getErrorMessage(addressForm.controls.region) }}</mat-error>
            </mat-form-field>
        </div>
    </div>
</form>

<div fxLayout='row' fxLayoutGap="20px">
    <button mat-raised-button matStepperPrevious color="accent">Back</button>
    <button mat-raised-button matStepperNext color="primary">Next</button>
</div>