<form [formGroup]="addressForm">
    <div fxLayout='row' fxLayoutGap="20px">
        <mat-form-field>
            <mat-label>House No./Room No./Bldg No.</mat-label>
            <input matInput alphanumeric placeholder="House No./Room No./Bldg No." formControlName="unitNumber" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Street/Subdivision</mat-label>
            <input matInput alphanumeric placeholder="Street/Subdivision" formControlName="location" required>
        </mat-form-field>
        <mat-form-field> 
            <mat-label>Barangay/City</mat-label>
            <input matInput alphanumeric placeholder="Barangay/City" formControlName="city" required>
        </mat-form-field>
        <mat-form-field> 
            <mat-label>Region</mat-label>
            <input matInput alphanumeric placeholder="Region" formControlName="region" required>
        </mat-form-field>
    </div>
</form>