
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$EverFirst-primary: mat-palette($mat-red, 700);
$EverFirst-accent: mat-palette($mat-yellow, 600);
$EverFirst-second-accent: mat-palette($mat-green, 800);


// The warn palette is optional (defaults to red).
$EverFirst-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$EverFirst-theme: mat-light-theme($EverFirst-primary, $EverFirst-accent, $EverFirst-warn);
$EverFirst-form-theme: mat-light-theme($EverFirst-second-accent, $EverFirst-warn, $EverFirst-warn);
// $EverFirst-select-theme: mat-light-theme($EverFirst-accent, $EverFirst-accent, $EverFirst-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($EverFirst-theme);
@include mat-form-field-theme($EverFirst-form-theme);
// @include mat-select-theme($EverFirst-select-theme);
// @include mat-button-theme($EverFirst-form-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  margin: auto;
  width: 80%;
  padding: 10px;
  // border: 3px solid green;
}

.short-field {
  width: 100px;
}

.medium-field {
  width: 130px;
}

.icon-space {
  padding-right: 10px;
}