.fab-pos {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1;
}

.tab-pos {
    position: fixed;
    bottom: 0;
}

.card-container {
    margin: 10px;
}

img {
    width: 100%;
    height: auto;
}

.header {
    background-color: #fdd835;
}

.header-container {
    margin-left: 10px;
    margin-right: 10px;
}