<mat-toolbar color="primary">
    <span>Ever First</span>
</mat-toolbar>
<mat-tab-group color="primary" mat-stretch-tabs>
    <mat-tab #customerTab>
        <ng-template mat-tab-label>
            <mat-icon>people</mat-icon>
        </ng-template>
        Customers
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>attach_money</mat-icon>
        </ng-template>
        <app-loan-calculator></app-loan-calculator>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>
        </ng-template>
        Settings
    </mat-tab>
</mat-tab-group>

<button mat-fab color="accent" class="fab-pos" *ngIf="customerTab.isActive" routerLink="/customer/create">
    <mat-icon>person_add</mat-icon>
</button>